<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>

<!-- Code for Sorting Lessons Within Sections -->
  <script>
    $(function() {
      $('.lessons').sortable({
        update: function(event,ui) {
          $.ajax({
            type: 'PUT',
            url: ui.item.data('update-url'),
            dataType: 'json',
            data: { lesson: { row_order_position: ui.item.index() }}
          });
        }
      });
    });
  </script>

<!-- Code for Sorting Sections Within Courses -->
  <script>
    $(function() {
      $('.sections').sortable({
        update: function(event,ui) {
          $.ajax({
            type: 'PUT',
            url: ui.item.data('update-url'),
            dataType: 'json',
            data: { section: { row_order_position: ui.item.index() }}
          });
        }
      });
    });
  </script>

  <br />

  <div class="row">
    <div class="col-10 offset-1">
      <% if current_course.image.present? %>
        <%= image_tag current_course.image, class: 'img-fluid' %>
      <% end %>
    </div>
    </div>
    
  <div class="row">
  <div class="col-10 offset-1">
      <br />
      <%= link_to 'Student View', course_path(current_course), class: 'btn btn-warning float-right' %>
      <br />
    
    <br class="clr" />
    
    <div>
      <%= link_to 'Add New Section', new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-lg' %>
      <br /><br />
    </div>

    <ul class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <li data-update-url="<%= instructor_section_path(section) %>" class="section-li">
        <div class="header float-left">
          <span class="fa fa-ellipsis-v"></span>
            <%= section.title %>
          </div>
            <%= link_to 'Add New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary btn-sm' %>
            <br class="clr" />
            <br class="clr" />
          
      
          <ul class="lessons">
            <% section.lessons.rank(:row_order).each do |lesson| %>
              <li data-update-url="<%= instructor_lesson_path(lesson) %>">
                <div class="row">
                  <div class="col-1">
                    <br />
                <span class="fa fa-ellipsis-v"></span>
              </div>
              <div class="col-11 text-center">
                
                <p>
                <strong><%= lesson.title %></strong>
              </p>
                <p>
                <%= lesson.subtitle %>
              </p>
          </div>
          </div>
          <br class="clr" />
              </li>
            <% end %> 
          </ul>
      
          <br class="clr" />
      
      </li>
    <% end %>
    </ul>

  </div>
  </div>
</div>