<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Learn Something New!</h1>
  
  <hr class="col-11 col-md-8 offset-md-2" >
  <br class="clr" />

  <% @courses.each do |course| %>
    <h2 class="text-center"><%= link_to course.title, course_path(course) %></h2>
    <br />
    
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="text-eq-justify">
          <%= course.description %>
        </div>
        <br /><br />
        <strong>INSTRUCTOR: <%= course.user.fullname %></strong>
        <br /><br />
        <%= link_to 'More Details', course_path(course), class: 'btn btn-primary btn-large' %>
        <br /><br />
      </div>
      
      <div class="col-md-4 col-12 text-center">
        <% if course.image.present? %>
          <%= image_tag course.image, class: 'img-fluid' %>
        <% end %>
      </div>
    </div>
    
    <hr class="col-11 col-md-8 offset-md-2" >
    <br class="clr" />
  <% end %>
</div>