<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= @course.title %></h1>

  <br />
  
  <div class="text-center">
    <% if @course.image.present? %>
      <%= image_tag @course.image, class: 'img-fluid' %>
    <% end %>
  </div>

  <br /><br />
    
    <div class="row">
      
      <div class="col-sm-2 col-12 text-center">
        <span class="badge badge-default">
          TUITION: <%= number_to_currency @course.cost %>
        </span>
        <% if current_user && current_user == @course.user %>
        <br /><br /> 
        <p><%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large' %></p>
        <% end %>

        <% if current_user %>
        <% if current_user.enrolled_in?(@course) %>
          <h3 class="badge badge-info">You Are Enrolled!</h3>
        <% else %>
        <% if @course.free? %>
        <%= link_to 'Enroll Now', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
        <% else %>
        <br /><br />
        <%= form_tag course_enrollments_path(@course) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-email="<%= current_user.email %>"
                  data-description="Now You Cook! - <%= @course.title %> (<%= number_to_currency @course.cost %>)"
                  data-amount="<%= (@course.cost * 100).to_i %>"
                  data-locale="auto"></script>
          <% end %>
        <% end %>
        <% end %>
        <% else %>
        <h3 class="badge badge-info">Sign In To Enroll!</h3>
        <% end %>
      </div>
      
      <div class="col-sm-10 col-12 float-right">
        <%= @course.description %>
      </div>
      
      <div class="col-12">
        <% @course.sections.each do |section| %>
        <br /><br />
          <div class="section">
          <h3>
            <%= section.title %>
          </h3>
          <div class="row">
            <% section.lessons.each do |lesson| %>
                <div class="col-12 col-sm-6">
                  <div class="lesson text-center">
                    <br />
                    <%= link_to lesson_path(lesson) do %>
                      <strong><%= lesson.title %></strong>
                      <br />
                      <%= lesson.subtitle %>
                    <% end %>
                  </div>
                </div>
            <% end %>
          </div>
          <br class="clr" />
          </div>
        <% end %>
      </div>
    </div>