<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Now You Cook!</title>

     <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Itim' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'NowYouCook!', root_path, class: 'logofont' %>

        <div class="collapse navbar-collapse right-align" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-link">
              <%= link_to 'See all Courses', courses_path, class: 'nav-link' %>
            </li>
          </ul>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
            <li class="nav-link">
              <%= link_to 'Edit Profile', edit_user_registration_path %></li>
              <li class="nav-link">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              <% else %>
            <li class="nav-link">
              <%= link_to 'Register', new_user_registration_path %> </li>
              <li class="nav-link">
                <%= link_to 'Log In', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>

  <% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

      <%= yield %>
  </div>

  <div id="footer">
    <div class="container">
      <div class="row text-center footer-cont">
        
        <div class="col-12 col-sm">
          <h4>Instructors</h4>
          <%= link_to 'Teach A Course', new_instructor_course_path %>
          </div>

          <div class="col-12 col-sm">
          <h4>About</h4>
          </div>

          <div class="col-12 col-sm">
          <h4>Contact</h4>
          </div>

          <div class="col-12 col-sm">
          <h4>Social</h4>
          </div>
        
        </div>
    </div>
  </div>


    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </body>
</html>